h1{
    color: #ffffff;
    font-size: large;
    font-family: 'Arial', sans-serif;
}

header {
background-color: #2196B9;
color: white;
text-align: center;
padding:10px;
}



footer {
    background-color: #2196B9;
    color: white;
    text-align: center;
    padding: 10px;
}
.card {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
}


nav {
    width: 100%;
    box-sizing: border-box;
    color: white;
    background-color: #82b7c7;
    padding: 10px;
    align-items: center;
    
}


hr{
    border: none;
    height: 5px;
    background-color: #ffffff;
}




h2{
    color: #000000;
    font-size: large;
    font-family: 'Arial', sans-serif;
    text-align: center;
}

p{
    color:#000000;
    font-size: small;
    font-family: 'Arial', sans-serif;
    text-align: center;
}





